.image_product_demo{
    width: 100px;
    height: 100px;
    }
    .border_str{
    border:1px solid black;
    padding:30px;
    position: relative;
    height: 300px;
    }
    .product_remove_items{
    background-color: #e44486;
    padding: 10px;
    border-radius: 30px;
    color:white;
    font-weight: bold;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 100px !important;
    position: absolute;
    top: 10px !important;
    }