.border_otherMenu {
    border: 1px solid black;
    height: 380px;
    text-align: center;
    img {
    width: 240px;
    height: 300px;
    }
    h5 {
    padding: 4px;
    }
    span {
    background-color: #e44486;
    padding: 10px;
    color:white;
    }
    }